{"openapi":"3.1.0","info":{"title":"AppNgin API","version":"0.0.1","description":"Public API for AppNgin's deployable app catalog.","license":{"name":"MIT","url":"https://opensource.org/license/mit"}},"paths":{"/v1/catalog":{"get":{"operationId":"catalogList","tags":["Catalog"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogListResponse"}}}},"400":{"description":"Invalid query parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"category","in":"query","required":false,"schema":{"$ref":"#/components/schemas/CatalogCategoryId"}},{"name":"popular","in":"query","required":false,"schema":{"type":"boolean"}}],"summary":"List catalog items","security":[]}},"/v1/catalog/categories":{"get":{"operationId":"catalogListCategories","tags":["Catalog"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogCategoryListResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"summary":"List catalog categories","security":[]}},"/v1/catalog/{slug}":{"get":{"operationId":"catalogFindOne","tags":["Catalog"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogItemResponse"}}}},"404":{"description":"Catalog item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"summary":"Get a catalog item","security":[]}},"/v1":{"get":{"operationId":"discover","tags":["Root"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscoveryResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"summary":"Discover API endpoints","security":[]}},"/v1/openapi/latest.json":{"get":{"operationId":"openapiLatest","tags":["OpenApi"],"responses":{"200":{"description":"Successful response"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"summary":"Get the latest OpenAPI schema","security":[]}}},"components":{"schemas":{"CatalogListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CatalogListing"}},"meta":{"type":"object","properties":{"total":{"type":"number"},"filters":{"type":"object","properties":{"category":{"anyOf":[{"$ref":"#/components/schemas/CatalogCategoryId"},{"type":"null"}]},"popular":{"type":["boolean","null"]}},"required":["category","popular"],"additionalProperties":false}},"required":["total","filters"],"additionalProperties":false}},"required":["data","meta"],"additionalProperties":false},"CatalogListing":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"},"categoryId":{"$ref":"#/components/schemas/CatalogCategoryId"},"category":{"type":"string"},"popular":{"type":"boolean"},"icon":{"type":"object","properties":{"slug":{"type":"string"},"color":{"type":"string","enum":["base","theme"]}},"required":["slug","color"],"additionalProperties":false},"description":{"type":"string"},"pricing":{"type":"object","properties":{"monthlyFromEurCents":{"type":"number"},"note":{"type":"string"},"includedStorageFastGb":{"type":"number"},"includedStorageBulkGb":{"type":"number"}},"required":["monthlyFromEurCents","note","includedStorageFastGb","includedStorageBulkGb"],"additionalProperties":false}},"required":["slug","name","categoryId","category","popular","icon","description","pricing"],"additionalProperties":false},"CatalogCategoryId":{"type":"string","enum":["passwords","photos","media","status"]},"CatalogCategoryListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CatalogCategoryWithCount"}},"meta":{"type":"object","properties":{"total":{"type":"number"}},"required":["total"],"additionalProperties":false}},"required":["data","meta"],"additionalProperties":false},"CatalogCategoryWithCount":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/CatalogCategoryId"},"name":{"type":"string"},"description":{"type":"string"},"itemCount":{"type":"number"}},"required":["description","id","itemCount","name"],"additionalProperties":false},"CatalogItemResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CatalogListing"}},"required":["data"],"additionalProperties":false},"DiscoveryResponse":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"},"endpoints":{"type":"object","properties":{"catalog":{"type":"string"},"catalogCategories":{"type":"string"},"catalogItem":{"type":"string"},"openapi":{"type":"string"}},"required":["catalog","catalogCategories","catalogItem","openapi"],"additionalProperties":false}},"required":["name","version","endpoints"],"additionalProperties":false},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message"],"additionalProperties":false}},"required":["error"],"additionalProperties":false}}},"servers":[{"url":"https://api.appngin.com"}]}